<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .grand{
      width: 600px;
      height: 700px;
      background: black;
      overflow-y: scroll;
      overflow-x: visible
    }
    .father{
      position: relative;
      background-color: lightgray;  
    }
    .normal{    
      height: 1700px;
      background-color: yellow;
      position: relative;
    }
    .absolute{
      width: 200px;
      height: 300px;
      position: absolute;
      left: 500px;
      top: 630px;
      background-color: green;
    }
   
  </style>
</head>
<body>
  <div class="grand">
    <div class="father">
      <div class="normal"></div>
      <div class="absolute"></div>
    </div>
  </div>

</body>
</html>